body{
    background-color: var(--primary-color);
}
._header{
    height: 100px;
    background-color: var(--primary-color);
    border-bottom: 1px solid grey;
}

:root{
    --primary-color: #3f4b88
    --secondary-color: #000106;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
}
#logo{
    width: 30px;
    cursor: pointer;
}
.links li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
    color: var(--secondary-color);
}
.links li a{
    text-decoration: none;
    color: var(--secondary-color);
}
.links li a:hover{
    text-decoration: underline;
}
.link-box{
    margin-left: 390px;
    margin-top: -50px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
.content-wrapper {
    display: flex;
    flex-flow: column;
    text-align: justify;
    margin-top: 6em;
    margin-right: 10em;
    color: var(--secondary-color);
    
}

.content-wrapper h4 {
    font-size: 24px;
    padding-right: 6em;
    margin-top: 0.3em;
}
.content-wrapper p {
    margin-top: -1.5em;
    margin-top: -1em;
    padding: .2em 0em;
}
